*{
    margin:0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #1e1261;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 450px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 20px rgba(36, 188, 226, 0.4);
    background-color: dodgerblue;
}

.header h1{
    color: #3124a1;
    padding: 13px;
}

.body{
    flex: 1;
    color: #f8f8f8;
    background-color: rgba(0,0,0,0.7);
    padding: 20px 30px;
}

.message{
    background-color: dodgerblue;
    padding: 10px;
    color: #f8f8f8;
    width: fit-content;
    border-radius: 10px;
    margin-bottom: 15px;
}

.user_message{
    margin-left: auto;
    background-color: #f8f8f8;
    color: black;
}

.footer form{
    display: flex;
}

form input{
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 5px;
    font-size: 16px;
}

form button{
    width: 100px;
    font-size: 18px;
    border: none;
    background-color: dodgerblue;
    color: #f8f8f8;
    cursor: pointer;
}

form button:hover{
    background-color: #2ecc71;
    transition: 0.2s ease;
}